<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="fragment/layout::head"></th:block>
</head>
<body>
<th:block th:insert="fragment/layout::header"></th:block>
<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-center">
            <h1>Sửa bàn</h1>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sửa bàn</h4>
                    <div class="basic-form">
                        <form th:action="@{/tables/{idB} (idB=${table.idB})}" th:object="${table}" method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Số bàn</label>
                                    <select name="numTable" th:field="*{numTable}" required class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Mức cược</label>
                                    <input type="text" name="betLevel" th:field="*{betLevel}" required class="form-control" placeholder="Mức cược">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Ngày</label>
                                    <input th:field="*{datePlay}" >
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Sửa bàn</button>
                            <a class="btn btn-info" th:href="@{/matchs/tables/{idB} (idB = ${table.idB})}">Chi tiết bàn</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>$('#datePlay').datepicker({
    uiLibrary: 'bootstrap4',
    format:"yyyy/mm/dd"
});</script>
</body>
</html>