<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="fragment/layout::head"></th:block>
</head>
<body>
<th:block th:insert="fragment/layout::header"></th:block>
<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-center">
            <h1>Danh sách bàn</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><a th:href="@{/tables/create}">Thêm bàn</a></h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped verticle-middle">
                                <thead>
                                <tr >
                                    <th scope="col">ID</th>
                                    <th scope="col">Số bàn</th>
                                    <th scope="col">Mức cược</th>
                                    <th scope="col">Ngày</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="table,index: ${tables}">
                                    <td th:text="${index.count}"></td>
                                    <td th:text="${table.numTable}"></td>
                                    <td th:text="${table.betLevel}"></td>
                                    <td th:text="${table.datePlay}"></td>
                                    <td>
                                        <a th:href="@{/tables/edit/{idB} (idB=${table.idB})}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="fa fa-pencil color-muted m-r-5"></i>
                                        </a>
                                        <a th:href="@{/tables/{idB} (idB=${table.idB})}"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Close">
                                            <i class="fa fa-close color-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>