<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/admin/css/style.css}" rel="stylesheet">
    <th:block th:insert="fragment/layout::head"></th:block>
</head>
<body>
<th:block th:insert="fragment/layout::header"></th:block>
<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-center">
            <h1>Thêm người chơi</h1>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" th:text="${title}"></h4>
                    <div class="basic-form">
                        <form th:action="@{/player/save}" th:object="${player}" method="POST">
                            <input type="hidden" th:field="*{idP}">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Tên người chơi: </label>
                                    <input type="text" th:field="*{namePlayer}" required class="form-control" placeholder="Tên người chơi">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Số điện thoại</label>
                                    <input type="text" th:field="*{phoneNumber}" required class="form-control" placeholder="Số điện thoại">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark" th:text="${buttonSave}"></button>
                            <button type="button" class="btn btn-dark" id="btn-back">Quay lại</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#birthday').datepicker({
        uiLibrary: 'bootstrap4',
        format:"yyyy/mm/dd"
    });

    $("#btn-back").click(function () {
        window.location = "[[@{/player/list}]]"
    })
</script>
</body>
</html>