<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player List</title>
    <link th:href="@{/admin/css/style.css}" rel="stylesheet">
    <th:block th:insert="fragment/layout::head"></th:block>
</head>
<body>
<th:block th:insert="fragment/layout::header"></th:block>
<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-center">
            <h1>Danh sách nguời chơi</h1>
        </div>
        <div th:if="${message}" class="alert alert-success text-center">[[${message}]]</div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><a th:href="@{/player/create}">Thêm người chơi</a></h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped verticle-middle">
                                <thead>
                                <tr >
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên người chơi</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="player, index: ${player}">
                                    <td th:text="${index.count}"></td>
                                    <td th:text="${player.namePlayer}"></td>
                                    <td th:text="${player.phoneNumber}"></td>
                                    <td>
                                        <a th:href="@{/player/edit/{idP} (idP=${player.idP})}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="fa fa-pencil color-muted m-r-5"></i>
                                        </a>
                                        <a th:href="@{/player/{idP} (idP=${player.idP})}"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Close">
                                            <i class="fa fa-close color-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>