<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/admin/css/style.css}" rel="stylesheet">
    <th:block th:insert="fragment/layout::head"></th:block>
</head>
<body>
<th:block th:insert="fragment/layout::header"></th:block>
<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-center">
            <h1>Danh sách chi tiết ván</h1>
        </div>
        <div th:if="${message}" class="alert alert-danger text-center">
            [[${message}]]
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 th:if="${idRb == null}" class="card-title"><a th:href="@{/detailmatchs/create}">Thêm chi
                            tiết ván</a></h4>
                        <h4 th:if="${idRb}" class="card-title"><a
                                th:href="@{/detailmatchs/create/{idRb} (idRb = ${idRb})}">Thêm chi tiết ván</a></h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped verticle-middle">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên người chơi</th>
                                    <th scope="col">Tiền cược</th>
                                    <th scope="col">Trạng thái giữa game</th>
                                    <th scope="col">Trạng thái cuối game</th>
                                    <th scope="col">Số tiền sau ván</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="detailmatch, index: ${detailmatchs}">
                                    <td th:text="${index.count}"></td>
                                    <td th:text="${detailmatch.idP}"></td>
                                    <td th:text="${detailmatch.betLevel}"></td>
                                    <td th:text="${detailmatch.midGame}" class="midGame"></td>
                                    <td th:text="${detailmatch.endGame}" class="endGame"></td>
                                    <td th:text="${detailmatch.totalMoney}"></td>
                                    <td>
                                        <a th:href="@{/detailmatchs/edit/{idDM} (idDM=${detailmatch.idDM})}"
                                           data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="Edit">
                                            <i class="fa fa-pencil color-muted m-r-5"></i>
                                        </a>
                                        <a th:href="@{/detailmatchs/delete/{idDM} (idDM=${detailmatch.idDM})}"
                                           data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="Close">
                                            <i class="fa fa-close color-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const midValues = ["", "Ăn chốt", "Bị ăn chốt", "Ăn cây", "Bị ăn cây"];
        const endValues = ["", "Cháy", "Ù", "Top 1", "Top 2", "Top 3", "Top 4", "Bị ù"];
        let mid = $(".midGame")
        let end = $(".endGame")
        for (let i = 0; i < mid.length; i++) {
            $($(".midGame")[i]).text(midValues[$($(mid[i])[0]).text()])
        }

        for (let i = 0; i < end.length; i++) {
            $($(".endGame")[i]).text(endValues[$($(end[i])[0]).text()])
        }
    });
</script>
</body>
</html>