<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="fragment/layout::head"></th:block>
</head>

<body>
<th:block th:insert="fragment/layout::header"></th:block>
<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-center">
            <h1>Sửa chi tiết ván</h1>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sửa ván</h4>
                    <div class="basic-form">
                        <form th:action="@{/detailmatchs/{idDM} (idDM=${detailmatch.idDM})}" th:object="${detailmatch}"
                              method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Tên người chơi</label>
                                    <select name="namePlayer" th:field="*{idP}" required class="form-control">
                                        <option th:each="player : ${players}" th:value="${player.namePlayer}"
                                                th:text="${player.namePlayer}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Tiền cược</label>
                                    <input type="text" name="playerWin" th:field="*{betLevel}" required
                                           class="form-control" placeholder="Tiền cược" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="form-group col-md-6">
                                        <!--<label>Mã bàn</label>-->
                                        <input type="hidden" name="numMatch" th:field="*{idM}"
                                               th:each="match : ${matchs}" th:value="${match.idM}" required
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Trạng thái giữa game</label>
                                    <select name="midGame" th:field="*{midGame}" required class="form-control">
                                        <option value="0"></option>
                                        <option value="1">Ăn chốt</option>
                                        <option value="2">Bị ăn chốt</option>
                                        <option value="3">Ăn cây</option>
                                        <option value="4">Bị ăn cây</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Trạng thái cuối game</label>
                                    <select name="endGame" th:field="*{endGame}" required class="form-control">
                                        <option value="0"></option>
                                        <option value="1">Cháy</option>
                                        <option value="2">Ù</option>
                                        <option value="3">Top 1</option>
                                        <option value="4">Top 2</option>
                                        <option value="5">Top 3</option>
                                        <option value="6">Top 4</option>
                                        <option value="7">Bị ù</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Số tiền sau ván</label>
                                    <input type="text" name="totalMoney" th:field="*{totalMoney}" required
                                           class="form-control" placeholder="Số tiền sau ván" readonly>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Sửa chi tiết ván</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#midGame,#endGame").change(function () {
        const mid = $("#midGame").val();
        const end = $("#endGame").val();
        const bet = $("#betLevel").val();
        const midValues = [0, bet * 2, -bet * 2, bet, -bet];
        const endValues = [0, -bet * 4, bet * 15, bet * 6, -bet, -bet * 2, -bet * 3, -bet * 5];
        let totalMid, totalEnd;
        totalMid = midValues[mid] || 0;
        totalEnd = endValues[end] || 0;
        $("#totalMoney").val(parseInt(totalMid) + parseInt(totalEnd));
    })
</script>
</body>
</html>