<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="fragment/layout::head"></th:block>
</head>
<body>
<th:block th:insert="fragment/layout::header"></th:block>
<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-center">
            <h1>Thêm ván</h1>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thêm ván</h4>
                    <div class="basic-form">
                        <form th:action="@{/matchs}" th:object="${match}" method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Ván</label>
                                    <input type="text" name="numMatch" th:field="*{numMatch}" required
                                           class="form-control" placeholder="Ván">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Ngày</label>
                                    <input th:field="*{datePlay}">
                                </div>
                                <div class="form-group col-md-6">
                                    <!--<label>Mã bàn</label>-->
                                    <input type="hidden" name="numMatch" th:field="*{idB}" th:each="table : ${tables}" th:value="${table.idB}"   required class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Số người chơi</label>
                                    <select name="numPlayer" th:field="*{numPlayer}" required class="form-control">
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Người thắng</label>
                                    <input type="text" name="playerWin" th:field="*{playerWin}" required class="form-control" placeholder="Người thắng">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Tiền thưởng</label>
                                    <input type="text" name="moneyBonus" th:field="*{moneyBonus}" required class="form-control" placeholder="Tiền thưởng">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Tạo ván</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>$('#datePlay').datepicker({
    uiLibrary: 'bootstrap4',
    format: "yyyy/mm/dd"
});</script>
</body>
</html>