<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/admin/css/style.css}" rel="stylesheet">
    <th:block th:insert="fragment/layout::head"></th:block>
</head>
<body>
<th:block th:insert="fragment/layout::header"></th:block>
<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-center">
            <h1>Danh sách ván</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 th:if="${idRa == null}" class="card-title"><a th:href="@{/matchs/create}">Thêm ván</a></h4>
                        <h4 th:if="${idRa}" class="card-title"><a th:href="@{/matchs/create/{idRa} (idRa = ${idRa})}">Thêm ván</a></h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped verticle-middle">
                                <thead>
                                <tr >
                                    <th scope="col">ID</th>
                                    <th scope="col">Ngày</th>
                                    <th scope="col">Số người chơi</th>
                                    <th scope="col">Ván</th>
                                    <th scope="col">Người thắng</th>
                                    <th scope="col">Tiền thưởng</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="match,index: ${matchs}">
                                    <td th:text="${index.count}"></td>
                                    <td th:text="${match.datePlay}"></td>
                                    <td th:text="${match.numPlayer}"></td>
                                    <td th:text="${match.numMatch}"></td>
                                    <td th:text="${match.playerWin}"></td>
                                    <td th:text="${match.moneyBonus}"></td>
                                    <td>
                                        <a th:href="@{/matchs/edit/{idM} (idM=${match.idM})}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="fa fa-pencil color-muted m-r-5"></i>
                                        </a>
                                        <a th:href="@{/matchs/delete/{idM} (idM=${match.idM})}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close">
                                            <i class="fa fa-close color-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>